# Uber Data Anlysis
#### Version 0.1

Analysis of a user's Uber Trips

TBD

In [6]:
# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

import numpy as np
import pandas as pd
import matplotlib
import sys

# Enable inline plotting
%matplotlib inline

In [7]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)
print('Matplotlib version ' + matplotlib.__version__)

Python version 3.5.1 (default, Apr 18 2016, 11:46:32)
[GCC 4.2.1 Compatible Apple LLVM 7.3.0 (clang-703.0.29)]
Pandas version 0.18.1
Matplotlib version 1.5.1

In [8]:
file_location = r'/Users/bassemd/Projects/uber_receipts/_data/1464897669.csv'
data = pd.read_csv(file_location)

In [9]:
data

     2016-06-02      Fadi     $4.70   uberX     Beirut  Unnamed: 5
0    2016-06-02   Mohamad  Canceled   uberX     Beirut         NaN
1    2016-06-02    Maysar    $13.23   uberX     Beirut         NaN
2    2016-06-01  Sleimann     $4.79   uberX     Beirut         NaN
3    2016-06-01    George    $14.36   uberX     Beirut         NaN
4    2016-05-31      Tony     $4.29   uberX     Beirut         NaN
5    2016-05-31   Mohamad    $14.14   uberX     Beirut         NaN
6    2016-05-30     Abbas     $4.30   uberX     Beirut         NaN
7    2016-05-30     Fayad    $12.98   uberX     Beirut         NaN
8    2016-05-28   Ibrahim     $7.69   uberX     Beirut         NaN
9    2016-05-28    Hisham    $11.27   uberX     Beirut         NaN
10   2016-05-26       Ali     $4.78   uberX     Beirut         NaN
11   2016-05-26    Wissam  Canceled   uberX     Beirut         NaN
12   2016-05-26   Mohamad    $13.85   uberX     Beirut         NaN
13   2016-05-25   Mohamad     $5.03   uberX     Beirut         NaN
14   2016-05-25      Nour    $15.51   uberX     Beirut         NaN
15   2016-05-24   Mahmoud     $4.69   uberX     Beirut         NaN
16   2016-05-24   Houssam    $13.88   uberX     Beirut         NaN
17   2016-05-23      Sami     uberX  Beirut  •••• 8369         NaN
18   2016-05-23   Mohamad    $13.93   uberX     Beirut         NaN
19   2016-05-20   Hussein    $14.61   uberX     Beirut         NaN
20   2016-05-19    Moussa     $4.61   uberX     Beirut         NaN
21   2016-05-19     Ridan    $13.58   uberX     Beirut         NaN
22   2016-05-18      Tony     $4.67   uberX     Beirut         NaN
23   2016-05-18     Rabih    $12.81   uberX     Beirut         NaN
24   2016-05-17   Mohamad     $5.85   uberX     Beirut         NaN
25   2016-05-17      Jean     $4.78   uberX     Beirut         NaN
26   2016-05-16      Fadi     $6.55   uberX     Beirut         NaN
27   2016-05-16     Rabih    $12.73   uberX     Beirut         NaN
28   2016-05-13      Elie     $4.84   uberX     Beirut         NaN
29   2016-05-13    Hassan    $15.18   uberX     Beirut         NaN
..          ...       ...       ...     ...        ...         ...
117  2016-02-26   Massoud     $6.87   uberX     Beirut         NaN
118  2016-02-26   Hussein     $4.50   uberX     Beirut         NaN
119  2016-02-26     Nadim     $5.70   uberX     Beirut         NaN
120  2016-02-24      jack     $4.99   uberX     Beirut         NaN
121  2016-02-24     Nawar     uberX  Beirut  •••• 8369         NaN
122  2016-02-24     Elias     $5.38   uberX     Beirut         NaN
123  2016-02-23     Elias     $5.87   uberX     Beirut         NaN
124  2016-02-23     Ahmad     $6.02   uberX     Beirut         NaN
125  2016-02-18   Hussein    $35.08   uberX     Beirut         NaN
126  2016-02-18   Hussein  Canceled   uberX     Beirut         NaN
127  2016-02-18   Mohamad  Canceled   uberX     Beirut         NaN
128  2016-02-15       Ali     $4.22   uberX     Beirut         NaN
129  2016-02-15    Maysar     $4.93   uberX     Beirut         NaN
130  2016-02-12    Jaafar    $36.65   uberX     Beirut         NaN
131  2016-02-08     Wafic     $5.92   uberX     Beirut         NaN
132  2016-02-07    Wissam     $9.94   uberX     Beirut         NaN
133  2016-02-07      Fadi     $6.90   uberX     Beirut         NaN
134  2016-02-06   Mohamad     $6.93   uberX     Beirut         NaN
135  2016-02-06      Tony  Canceled   uberX     Beirut         NaN
136  2016-02-06     Jihad     $4.32   uberX     Beirut         NaN
137  2016-01-08   Haytham     $5.00   uberX     Beirut         NaN
138  2016-01-08       Ali     $8.59   uberX     Beirut         NaN
139  2016-01-07     Jihad     $9.79   uberX     Beirut         NaN
140  2016-01-06    Hosein     $5.00   uberX     Beirut         NaN
141  2016-01-06     Ahmad     $8.53   uberX     Beirut         NaN
142  2015-12-05   Hussein     $7.48   uberX     Beirut         NaN
143  2015-12-05    Jaafar  Canceled   uberX     Beirut         NaN
144  2015-12-04     Anwar     $5.00   uberX     Beirut         NaN
145  2015-12-04     Issam     $8.41   uberX     Beirut         NaN
146  2015-12-04      Tony  Canceled   uberX     Beirut         NaN

[147 rows x 6 columns]